---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Adrian Garcia" description="About Adrian Garcia Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background. I want to make sure you know who I am after reading this, so I'll do it in a different way 😉."
			>
				<img
					width="312"
					height="312"
					src="/portfolio/assets/self-emoji-white.jpeg"
					alt="Adrian Garcia at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Introduction</h2>
				<div class="content">
					<p>
              Whenever I face a new challenge, I try to gain the knowledge in the respective area in order to deliver best results. I keep up with updates in technological sector, not only to grow professionally, but also because it is my personal interest.
          </p>
            <br>
            <p>
                I like teaching developers sharing tips, reviewing pull requests and showing them how they can improve their code and way of thinking. At the same time, I love to learn new languages, patterns, tools! For me, some of the best ways to learn is teaching others, reading books and posts from websites/apps like Medium or Stack Overflow.
					</p>
            <br>
					<p>
              I also love designing, if I wasn't developer I would be designer. I like to create mockups before creating a new screen or UI component. That helps me to save time when I need to create the UI or focus on the UX.
					</p>
            <br>
						<p>
                In love with mobile development. Some of my favorite languages and frameworks are Typescript, React/React Native, Flutter, Next.js and Angular.
						</p>
						<br>
						<b>My profession is my passion 😍 !</b>
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a highly skilled full stack developer, I have a strong focus on mobile development, backed by extensive experience in a wide range of technical tools and frameworks. With expertise in TypeScript, React Native, Node, Flutter, Angular, React, as well as proficiency in various development practices such as Jenkins and Git, I am well-equipped to deliver exceptional mobile applications and SDKs.
					</p>
					<br>
					<p>
						My proficiency in TypeScript and React Native allows me to develop cross-platform mobile applications that deliver exceptional user experiences across different devices and platforms. Whether it's creating native-like interfaces or integrating with device-specific functionalities, I have the knowledge and expertise to ensure optimal performance and usability.
					</p>
					<br>
					<p>
						In addition to my mobile development expertise, I have a good foundation in web development using Angular and React. This allows me to build responsive and feature-rich web applications that seamlessly integrate with backend systems, providing a unified experience across different platforms.
					</p>
					<br>
					<p>
						Throughout my career, I have also gained valuable experience in CI/CD practices, utilizing tools such as Jenkins to automate build, test, and deployment processes. With a strong command of version control systems like Git, I ensure efficient collaboration, code integrity, and easy integration of new features or fixes into the development workflow.
					</p>
					<br>
					<p>
						Furthermore, I have worked in developing SDKs to provide clients with powerful tools and libraries that enhance their capabilities and streamline their development processes. I have successfully designed, developed, and distributed SDKs, enabling clients to easily integrate and leverage the functionality of our software in their own projects.
					</p>
					<br>
					<p>
						By taking on the role of a designer, I have not only expanded my skill set but also gained a holistic understanding of the development process. This enables me to bridge the gap between design and development seamlessly, ensuring that the final product aligns with the envisioned design and delivers a delightful user experience.
					</p>
					<br>
					<p>
						With my passion for design, proficiency in Sketch and Adobe XD, and extensive full stack development expertise, I bring a unique blend of technical and creative skills to every project. From ideation to implementation, I strive to create visually stunning and user-centric applications that leave a lasting impression.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
            <p>This turned out to be one of the best decisions I've made in my life. After finishing high school, I initially applied to a university to study Business Management. I was accepted, but deep down, I had doubts. The idea of spending my career in a bank, trying to convince people to trust their hard-earned money in exchange for material possessions like televisions, just didn't resonate with me. While I knew that the banking industry involves much more than that, hearing stories from people who worked in that field only reinforced my hesitation.</p>
            <br>
            <p>After working for a year and taking the time to reconsider my future, I made the bold choice to pursue a higher degree in cross-platform development at "Escola Pia Santa Anna" in Mataro, Spain. What made this decision easier was the fact that some of the professors at this school were also respected educators from the university I had previously attended. This familiarity and their reputation convinced me that "Escola Pia Santa Anna" was the right place for me to continue my education.</p>
            <br>
            <p>During that time, I received thorough training that prepared me and my fellow classmates to work with various programming languages. We were taught the essential foundations needed to become skilled developers and thrive in a professional work environment.</p>
            <br>
            <p>However, I quickly realized that the world of technology is constantly evolving. To stay ahead and keep improving, it's necessary to stay up to date with the latest trends. So, since then, I've dedicated myself to reading books, articles, and blog posts. I create my own projects and learn from my mistakes along the way. Whether it's in my professional career or personal life, I always strive to do my best.</p>
            <br>
            <p>Over the years, I've had the privilege of learning from people at different stages of their careers, from junior developers to seasoned engineers. I firmly believe that experience is the best teacher, which is why I'm not afraid to step out of my comfort zone and take on new challenges.</p>
            <br>
            <p>If you're interested in more specific details such as names, dates, places, and titles, you can download my CV <a href="/portfolio/assets/cv/Adrian_Garcia_CV.pdf">here</a>.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		align-self: center;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
