---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Adrian Garcia" description="About Adrian Garcia Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background. I want to make sure you know who I am after reading this, so I'll do it in a different way 😉."
			>
				<img
					width="312"
					height="312"
					src="/portfolio/assets/self-emoji-white.jpeg"
					alt="Adrian Garcia at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
              Whenever I face a new challenge, I try to gain the knowledge in the respective area in order to deliver best results. I keep up with updates in technological sector, not only to grow professionally, but also because it is my personal interest.
          </p>
            <br>
            <p>
                I like teaching developers sharing tips, reviewing pull requests and showing them how they can improve their code and way of thinking. At the same time, I love to learn new languages, patterns, tools! For me, some of the best ways to learn is teaching others, reading books and posts from websites/apps like Medium or Stack Overflow.
					</p>
            <br>
					<p>
              I also love designing, if I wasn't developer I would be designer. I like to create mockups before creating a new screen or UI component. That helps me to save time when I need to create the UI or focus on the UX.
					</p>
            <br>
						<p>
                In love with mobile development. Some of my favorite languages and frameworks are Typescript, React/React Native, Flutter, Next.js and Angular.
						</p>
						<br>
						<b>My profession is my passion 😍 !</b>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
							This was one of the best decisions I took in my life. After finishing baccalaureate, I applied to a university to study Business Management, I was accepted, but I wasn't sure. I couldn't imagine my self working in a bank over 50 years and trying to convince people to bring their salaries and savings in exchange for a television, it wasn't for me. Don't get me wrong, they do much more than that, but I knew some people who worked in this sector, and that was their experience.
							<br>
              <br>
						After a year working and having time to rethink my future, I decided to study a higher degree of cross-platform development on "Escola Pia Santa Anna", in Mataro, Spain. Some of the teachers were the same other people had in the university, so I though it was the right place.
						They prepared me and my colleagues to work with many different languages, teaching us the basics of almost everything we needed to be developers and work in a company.
              <br>
              <br>
							Was it enough? Well, as we know this technological sector does not stop changing. If you want to be better and you want to know more languages, frameworks, patterns, and many more things,
              you need to be up to date, reading, practicing, and making mistakes. So that's what I do since then, I read books and posts, I create my own projects, and I learn from my mistakes. I try to do my best in every single way when I work in a company and in my personal life.
              Taking advantage of all the knowledge acquired all these years, and learning from the most juniors to the best engineers I have seen in my career.
              There is no better way to learn than experience, that's why I'm not afraid to get out of my comfort zone.
              <br>
              <br>
							If you want me to be more specific, knowing names, dates, places and titles, <a href="/portfolio/assets/cv/Adrian_Garcia_CV.pdf">download my CV here.</a>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		align-self: center;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
