---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>With expertise spanning both front-end and back-end development, I am a skilled full stack professional capable of handling the entire software development lifecycle. From designing intuitive user interfaces to building efficient server-side infrastructure, I bring a holistic approach to every project. My proficiency in multiple programming languages and frameworks allows me to bridge the gap between design and functionality, delivering seamless and immersive experiences.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Innovative & Creative</h2>
		<p>With a passion for innovation and a creative mindset, I bring a fresh perspective to every project. As an experienced professional, I continuously seek out cutting-edge technologies and imaginative approaches to solve complex problems. My ability to think outside the box and generate inventive ideas drives transformative outcomes and sparks inspiration within teams.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>As a strategy-minded full stack professional, I bring a comprehensive perspective to every project. I not only possess in-depth technical expertise across the full stack, but I also analyze business goals and market dynamics to inform my development decisions. By incorporating strategic considerations into my development process, I ensure that the solutions I deliver are not only technically sound but also aligned with long-term business strategies, enabling organizations to achieve sustainable success.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
